# Dependencies
node_modules/

# Next.js
.next/

# Vercel
.vercel

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Design files
*.psd
*.ai
*.sketch